---
layout: default
ogtype: article
---

{% include "styles.html", partials: "
components/code,
components/banner,
components/collection-navigation,
post/post,
components/blockquotes" %}

{% block content %}
<section class="Post__meta">
  <p>
    <span itemprop="datePublished">
      <time>{{ date | date_formatted }}</time>
    </span>
    <span itemprop="timeRequired" title="Estimated reading time" class="Reading-Time">· ~ {{ content | timeToRead }} </span>
  </p>
  <p>
    <span>
      {% for tag in tags %}
        <a href="/tags/{{ tag }}" class="TagLink">#{{ tag }}</a>
      {% endfor %}
    </span>
  </p>
</section>
  {% comment %}<div class="PostSummary">
    <strong>tl;dr: </strong>
    {{ excerpt }}
  </div>
  {% endcomment %}

{% include "post-image.html" %}

<article class="Article">
  {{ content }}
</article>


<details class="Comments">
  <summary>Comments</summary>
  <section>
    <div id="disqus_thread"></div>
  </section>

  {% include "scripts.html", async, partials: "disqus" %}
</details>

{% include "collection_navigation.html",
  page: page,
  collection: collections.posts,
  name: "post"
%}


{% endblock %}
