---
 layout: default
 ogtype: article
---

{%  include "styles.html", partials:"post/post, prisma/prisma, components/code" %}

{% block content %}
<section class="PageHeader MarginTop-xxl">
  <div class="Text--Secondary MarginY-xxs">
    <time>{{ date | date_formatted }}</time>
    <span>
      {% for tag in tags %}
      <a href="/tags/{{ tag }}" class="TagLink">#{{ tag }}</a>
      {% endfor %}
    </span>
    <span class="Reading-Time"> ({{ content | timeToRead }}) </span>
  </div>

  {% comment %}<div class="PostSummary">
    <strong>tl;dr: </strong>
    {{ excerpt }}
  </div>
  {% endcomment %}
</section>

{% include "post-image.html" %}

<article class="Article">
  {{ content }}
</article>


<details class="Comments">
      <summary>Comments</summary>
      <section>
        <div id="disqus_thread"></div>
      </section>

      {% include "scripts.html", async, partials: "disqus" %}
</details>

<section class="other-links">
  <ul class="post-nav">
    {%- assign nextPost = collections.posts | getNextCollectionItem: page %} {%-
    if nextPost %}
    <li class="next">
      add link here
      <i class="fas fa-chevron-right"></i>
    </li>
    {% endif %} {%- assign previousPost = collections.posts |
    getPreviousCollectionItem: page %} {%- if previousPost %}
    <li class="previous">
      <i class="fas fa-chevron-left"></i>
      add link here
    </li>
    {% endif %}
  </ul>
</section>
<div class="Separator MarginY-xl"></div>


{% endblock %}
